#content {
  padding: 5px;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
  height: 100%;
  overflow-y: scroll;
  background-color: #424242;
}

.opened-left-sidebar-content {
  margin-left: 300px;
}

.opened-right-sidebar-content {
  margin-right: 300px;
}

.user-video {
  text-align: center;

  img {
    width: auto;
    height: auto;
    margin: 5px;
    display: inline-block;
  }
}