.right-sidebar {
  -webkit-transition:  right 0.5s;
  -moz-transition:  right 0.5s;
  -o-transition:  right 0.5s;
  transition:  right 0.5s;
  position: fixed;
  background-color: #3B5998;
  height: calc(100% - 48px);

  width: 300px;
  top: 48px;
  bottom: 0;
  right: -200%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 5;
}

.opened-right-sidebar {
  right: 0;
}

.messages {
  list-style: none;
}

.messages li {
  background-color: #fff;
  margin: 5px;
  padding: 3px;
}

.messages li .sender {font-style: italic;}

.messages li .sender .send-date {text-decoration: underline; font-style: inherit; margin: 0 3px;}

.messages li .message {}