.left-sidebar {
  -webkit-transition:  left 0.5s;
  -moz-transition:  left 0.5s;
  -o-transition:  left 0.5s;
  transition:  left 0.5s;
  position: fixed;
  //background-color: #3B5998;
  //background-color: #2B2B2B;
  background-color: #ECDFBD;
  height: calc(100% - 48px);

  width: 300px;
  top: 48px;
  left: -100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 5;
}

.opened-left-sidebar {
  left: 0;
}

.friends {
  list-style: none;
  a {
    //color: #eee;
    padding: 5px;
    -webkit-transition: background-color .5s, color .5s;
    -moz-transition: background-color .5s, color .5s;
    -o-transition: background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
    display: block;
    color: black;
    font-weight: bold;

    &:hover {
      //background-color: #4285F4;
      background-color: #2D3033;
      color: #eee;
    }
  }
}

.circle {
  border-radius: 50%;
  border: 1px solid #cccccc;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px 0 0;
}

.circle-green {background-color: green;}
.circle-red {background-color: red;}
.circle-orange {background-color: orange;}